- 
	const menu = [ 
		{
			name: 'Home',
			link: '/'
		},
		{
			name: 'Services',
			link: '/services',
			submenu: [
				{
					name: 'Web design',
					link: '/services/webdesign'
				},
				{
					name: 'Support',
					link: '/services/support'
				}
			]
		},
		{
			name: 'About',
			link: '/about'
		},
		{
			name: 'Github',
			link: 'https://github.com',
			target: '_blank'
		}
	]
