header.header
  nav.navbar
    .navbar__brand 
      a.navbar__brand-link(href='#!') Home
    ul.menu
      li.menu__item
        a.menu__link(href="#!") Link 1 
      li.menu__item
        a.menu__link(href="#!") Link 2
      li.menu__item
        a.menu__link(href="#!") Link 3
