extends ../templates/default
block variables
  - const pageClass = 'home landscape'
block content
  h1 Hello World!
  +link('Mi enlace', 'https://yep.com')(class='myClass', id='myOwn', target='_blank')
