:root
  //Colors
  //Fonts 
  //--font-primary:   'Nunito', sans-serif
  //--font-secondary: 'Montserrat', sans-serif
  --font-base:  16px
  --font-sm:    0.5rem //18px
  --font-nm:    1.125rem //18px
  --font-md:    1.25rem  //20px
  --font-lg:    1.5rem   //24px
  --font-lg-x:  1.875rem //30px
  --font-hg:    2rem     //32px
  --font-hg-x:  2.5rem   //40px
  //Line heights
  --line-height-1: 1.125 
  --line-height-2: 1.25
  --line-height-3: 1.375
  --line-height-4: 1.5
  --line-height-5: 2
  //Margins
  --margin-sm-xxx:  0.125rem 
  --margin-sm-xx:    0.25rem
  --margin-sm-x:    0.5rem
  --margin-sm:      0.75rem
  --margin-nm:      1rem
  --margin-md:      1.125rem
  --margin-md-x:    1.5rem
  --margin-lg:      1.75rem
  --margin-lg-x:    2rem 
  --margin-hg:      2.5rem
  --margin-hg-x:    3.75rem 
  //z-index
  --zi-n-2: -20
  --zi-n-1: -10
  --zi-0: 0
  --zi-1: 10
  --zi-2: 20
  --zi-3: 30 
  --zi-4: 40
  --zi-5: 50
